.projects {
    margin-top: 20px;
    padding: 20px;
    background-color: black;
   
    border-radius: 8px;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 80px;
}

.projects h2 {
    font-size: 22px;
    color:white;
    text-align: center;
    margin-bottom: 20px;
}

.project-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two projects per column */
    gap: 50px; /* Gap between projects */
}

.project {
    background-color:black;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px; /* Reduced padding */
}

.project h3 {
    font-size: 23px; /* Reduced font size */
    color: yellowgreen;
    margin-bottom: 8px; /* Reduced margin */
}

.project p {
    font-size: 19px; /* Reduced font size */
    color: white;
    line-height: 1.4;
    margin-bottom:10px; /* Adjusted spacing */
}

.project-tags {
    margin-top: 8px; /* Reduced margin top */
}

.project-tags span {
    display: inline-block;
    background-color: #f0f0f0;
    color: #333;
    font-size: 12px; /* Reduced font size */
    padding: 3px 8
}