.skills {
    margin-top: 20px;
    padding: 20px;
    background-color:black;
    
    border-radius: 8px;
    max-width: 800px;
    align-content: center;
    margin: 0 auto;
    margin-bottom: 80px;
    transform: translateY(20px);
    transition: opacity 0.8s ease , transform 0.3s ease;
}
.skills.fade-out{
    opacity: 1;
}
.skills h2 {
    font-size: 22px;
    text-align: center;
    color:white;
    margin-bottom: 20px;
}

.skill-list {
    display: grid;
    flex-wrap: wrap;
    gap: 20px;
    
}

.skill {
    background-color: black;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.skill h3 {
    font-size: 20px;
    color:white;
    margin-bottom: 10px;
}

.skill-level {
    height: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    margin-top: 8px;
    overflow: hidden;
}

.skill-level-bar {
    height: 100%;
    background-color:yellowgreen;
    border-radius: 5px;
   
}

/* Example hover effect */
.skill:hover {
    transform: translateY(-5px);
    transition: transform 0.3s ease;
}
